<div class="page-header">
<h3> My messages with  <%= @user.full_name %> </h3>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sender</th>
      <th></th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= image_tag message.user.pictureurl, width: 70, class: "img-circle" %></td>
        <td><%= message.user.full_name %></td>
        <td>"<%= message.message %>"</td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag(messages_url, method: 'post', class: 'form-horizontal') do %>
  
  <%= hidden_field_tag :receiver_userid, params[:id] %>

Send <%= @receiver.firstname %> a message!
  <div class="form-group">
    <%= label_tag nil, nil, class: 'col-md-0 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :message, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-0 col-md-6">
      <%= submit_tag "Send your message", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>














