<div class="page-header">
<h3> My conversation with  <%= @user.full_name %> </h3>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sender</th>
      <th></th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= image_tag message.user.pictureurl, width: 70, class: "img-circle" %></td>
        <td><%= message.user.full_name %></td>
        <td>"<%= message.message %>"</td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag(messages_url, method: 'post', class: 'form-horizontal') do %>
  
  <%= hidden_field_tag :receiver_userid, params[:id] %>

Send <%= @receiver.firstname %> a message!
  <div class="form-group">
    <%= label_tag nil, nil, class: 'col-md-0 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :message, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-0 col-md-6">
      <%= submit_tag "Send your message", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div>
<br>
<b><i>Did you have a great time because of this advice? Send <%= @user.full_name %> a tip!</b></i>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XXSF4UZD5254L">
<input type="image" src="http://oi60.tinypic.com/20fg2p.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<a class="coinbase-button" data-code="6b88537a7deb621fdef614146ebe631e" data-button-style="donation_small" href="https://coinbase.com/checkouts/6b88537a7deb621fdef614146ebe631e">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

<br>
<b><i>Also please let us know what you thought about <%= @user.full_name %>'s Advice!</b></i>

<a href="mailto:destinationconciergetips@gmail.com?subject=Feedback on <%= @user.full_name %>'s Expert Advice">
   <b>Email Us</b></a> 